<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:logo="@drawable/logo"
        android:label="Checkers"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.CheckersNadav"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".LocalEndScreenActivity"
            android:exported="false" />
        <activity
            android:name=".TutorialActivity"
            android:exported="false" />
        <activity
            android:name=".DrawScreen"
            android:exported="false" />
        <activity
            android:name=".LoseScreen"
            android:exported="false" />
        <activity
            android:name=".WinScreen"
            android:exported="false" />
        <activity
            android:name=".Room"
            android:exported="false" />
        <activity
            android:name=".CreateAndJoinRoomActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".RoomActivity"
            android:exported="false" />
        <activity
            android:name=".StatsActivity"
            android:exported="false" />
        <activity
            android:name=".OnlinePvPActivity"
            android:exported="false" />
        <activity
            android:name=".LocalPvPActivity"
            android:exported="false" />
        <activity
            android:name=".MenuActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".AlarmReceiver"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>